In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sb

In [8]:
player_ids = pd.read_csv("data.csv")
player_ids.head()

,Date,Taxonomy,Campaign ID,Traffic,Ad impressions,CPM,Ad spend,Booking Lead Time,Sales
0,2021-12-27,Appliances,789.0,"186,565","111,939",$ 36,"$ 3,994,543",7.0,"$ 27,961,803"
1,2022-01-03,Appliances,2503.0,"735,673","426,690",$ 43,"$ 18,357,057",10.0,"$ 348,784,086"
2,2022-01-10,Appliances,4243.0,"565,996","181,119",$ 42,"$ 7,664,956",7.0,"$ 99,644,429"
3,2022-01-17,Appliances,6082.0,"778,248","326,864",$ 61,"$ 20,004,077",12.0,"$ 320,065,229"
4,2022-01-24,Appliances,8051.0,"473,789","161,088",$ 39,"$ 6,303,341",13.0,"$ 182,796,895"